{% extends 'public_main.twig' %}

{% block pageTitle %}Главная страница{% endblock %}
{% block content %}
    <div class="recent-slider">
        <ul class="recent-slider__items-wrap">
            <li class="recent-slider__item">
                <div class="recent-slider__item-wrapper">
                    <img src="/assets/images/220049_NzmtUb45pA_your_name.jpg" alt="">
                    <div class="recent-slider__item-description item-description">
                        <div class="item-description__item-title">
                            <span>Твое имя</span>
                        </div>
                        <div class="item-description__item-text">
                        <span>
                            История о парне из Токио и девушке из провинции, которые обнаруживают, что между ними
                            существует странная и необъяснимая связь.
                        </span>
                        </div>
                        <div class="item-description__item-link">
                            <a href="#" class="button upper">Смотреть</a>
                        </div>
                    </div>
                </div>
            </li>


        </ul>
    </div>

    <div class="anime-items__wrap">

        <div class="anime-items-row">
            <div class="anime-items__item">
                <img src="/assets/images/Bitmap-3.png" alt="">
                <div class="recent-slider__item-description item-description">
                    <div class="item-description__item-title">
                        <span>Милый во франксе</span>
                    </div>
                    <div class="item-description__item-link">
                        <a href="#" >Смотреть</a>
                    </div>
                </div>
            </div>

            <div class="anime-items__item">
                <img src="/assets/images/Bitmap-2.png" alt="">
                <div class="recent-slider__item-description item-description">
                    <div class="item-description__item-title">
                        <span>Призрак в доспехах</span>
                    </div>
                    <div class="item-description__item-link">
                        <a href="#" >Смотреть</a>
                    </div>
                </div>
            </div>

            <div class="anime-items__item">
                <img src="/assets/images/Bitmap-2.png" alt="">
                <div class="recent-slider__item-description item-description">
                    <div class="item-description__item-title">
                        <span>Призрак в доспехах</span>
                    </div>
                    <div class="item-description__item-link">
                        <a href="#" >Смотреть</a>
                    </div>
                </div>
            </div>

            <div class="anime-items__item">
                <img src="/assets/images/Bitmap-2.png" alt="">
                <div class="recent-slider__item-description item-description">
                    <div class="item-description__item-title">
                        <span>Призрак в доспехах</span>
                    </div>
                    <div class="item-description__item-link">
                        <a href="#" >Смотреть</a>
                    </div>
                </div>
            </div>

            <div class="anime-items__item">
                <img src="/assets/images/Bitmap-2.png" alt="">
                <div class="recent-slider__item-description item-description">
                    <div class="item-description__item-title">
                        <span>Призрак в доспехах</span>
                    </div>
                    <div class="item-description__item-link">
                        <a href="#" >Смотреть</a>
                    </div>
                </div>
            </div>

            <div class="anime-items__item">
                <img src="/assets/images/Bitmap-2.png" alt="">
                <div class="recent-slider__item-description item-description">
                    <div class="item-description__item-title">
                        <span>Призрак в доспехах</span>
                    </div>
                    <div class="item-description__item-link">
                        <a href="#" >Смотреть</a>
                    </div>
                </div>
            </div>



        </div>
        <div class="anime-items-row">
            <div class="anime-items__item">
                <img src="/assets/images/Bitmap-3.png" alt="">
                <div class="recent-slider__item-description item-description">
                    <div class="item-description__item-title">
                        <span>Милый во франксе</span>
                    </div>
                    <div class="item-description__item-link">
                        <a href="#" >Смотреть</a>
                    </div>
                </div>
            </div>

            <div class="anime-items__item">
                <img src="/assets/images/Bitmap-2.png" alt="">
                <div class="recent-slider__item-description item-description">
                    <div class="item-description__item-title">
                        <span>Призрак в доспехах</span>
                    </div>
                    <div class="item-description__item-link">
                        <a href="#" >Смотреть</a>
                    </div>
                </div>
            </div>

            <div class="anime-items__item">
                <img src="/assets/images/Bitmap-2.png" alt="">
                <div class="recent-slider__item-description item-description">
                    <div class="item-description__item-title">
                        <span>Призрак в доспехах</span>
                    </div>
                    <div class="item-description__item-link">
                        <a href="#" >Смотреть</a>
                    </div>
                </div>
            </div>

            <div class="anime-items__item">
                <img src="/assets/images/Bitmap-2.png" alt="">
                <div class="recent-slider__item-description item-description">
                    <div class="item-description__item-title">
                        <span>Призрак в доспехах</span>
                    </div>
                    <div class="item-description__item-link">
                        <a href="#" >Смотреть</a>
                    </div>
                </div>
            </div>

            <div class="anime-items__item">
                <img src="/assets/images/Bitmap-2.png" alt="">
                <div class="recent-slider__item-description item-description">
                    <div class="item-description__item-title">
                        <span>Призрак в доспехах</span>
                    </div>
                    <div class="item-description__item-link">
                        <a href="#" >Смотреть</a>
                    </div>
                </div>
            </div>

            <div class="anime-items__item">
                <img src="/assets/images/Bitmap-2.png" alt="">
                <div class="recent-slider__item-description item-description">
                    <div class="item-description__item-title">
                        <span>Призрак в доспехах</span>
                    </div>
                    <div class="item-description__item-link">
                        <a href="#" >Смотреть</a>
                    </div>
                </div>
            </div>



        </div>



    </div>
{% endblock %}

{% block scripts %}
    <script src="/assets/js/index.js"></script>
{% endblock %}