{% extends 'public_main.twig' %}

{% block pageTitle %}Главная страница{% endblock %}
{% block content %}
    <div class="recent-slider">
        <ul class="recent-slider__items-wrap">
            <li class="recent-slider__item">
                <div class="recent-slider__item-wrapper">
                    <img src="/assets/images/220049_NzmtUb45pA_your_name.jpg" alt="">
                    <div class="recent-slider__item-description item-description">
                        <div class="item-description__item-title">
                            <span>Твое имя</span>
                        </div>
                        <div class="item-description__item-text">
                        <span>
                            История о парне из Токио и девушке из провинции, которые обнаруживают, что между ними
                            существует странная и необъяснимая связь.
                        </span>
                        </div>
                        <div class="item-description__item-link">
                            <a href="#" class="button upper">Смотреть</a>
                        </div>
                    </div>
                </div>
            </li>


        </ul>
    </div>

    <div class="anime-items__wrap">
        {% for item in animelist %}
            <div class="anime-items__item" onclick="location.href='/anime/{{ item.id }}'">
                <img src="{{ item.photo }}" alt="">
                <div class="recent-slider__item-description item-description">
                    <div class="item-description__item-title">
                        <span>{{ item.title }}</span>
                    </div>
                    <div class="item-description__item-link">
                        <a href="/anime/{{ item.id }}">Смотреть</a>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>
    <div class="loadmore-wrapper">
        <button class="button loadmoreButton" id="loadMoreBtn" data-offset="24">Загрузить еще 24</button>
    </div>
{% endblock %}

{% block scripts %}
    <script src="/assets/js/index.js"></script>
{% endblock %}