<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sunrise Anime - {% block pageTitle %}{% endblock %}</title>

    <link rel="stylesheet" href="/assets/css/main.css">
</head>
<body>
<header class="page-header__wrapper">
    <div class="page-header__content">
        <div class="page-logo">
            <a href="/">KEDOFilm</a>
        </div>
        <div class="page-nav">
            <nav>
                <ul class="page-nav-links">
                    <li class="page-nav-links__item">
                        <a href="#">Сериалы</a>
                    </li>
                    <li class="page-nav-links__item">
                        <a href="#">Фильмы</a>
                    </li>
                    <li class="page-nav-links__item">
                        <a href="#">Новинки</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="page-profile-wrap">
            {% if logged %}
                <a href="#" class="button">Профиль</a>
            {% else %}
                <a href="#" class="button">Войти</a>
            {% endif %}
        </div>
    </div>
</header>
<section class="page-content__wrap">
    <div class="page-content">
        {% block content %}{% endblock %}
    </div>
</section>
<footer class="page-footer__wrapper">
    <div class="page-footer__content">
        <div class="page-logo">
            <span>KEDOFilm</span>
        </div>
        <div class="page-nav">
            <nav>
                <ul class="page-nav-links">
                    <li class="page-nav-links__item">
                        <a href="#">О нас</a>
                    </li>
                    <li class="page-nav-links__item">
                        <a href="#">Контакты</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</footer>

{% block scripts %}{% endblock %}
</body>
</html>